<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VService</title>

    <link type="text/css" rel="stylesheet" href="/static/css/error.css"/>

    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="limiter">
    <div class="container">
        <div class="background">
            <h1>503</h1>
        </div>
        <h2>Webservice currently unavailable</h2>
        <p>We&#39;ve got some trouble with our backend upstream cluster.Our service team has been dispatched to bring it back online.</p>
        <a href="/">Back To Homepage</a>
    </div>
</div>
</body>
</html>
